.basic-green {
  background-color: #00ada4;
  color: white;
}
.basic-grey {
  background-color: #9a9a9a;
  color: white;
}

.background-grey {
  background-color: #f2f2f2;
}

.reverse-green-button {
  background-color: white;
  color: #00ada4;
}

.hr {
  width: 98%;
}

.border {
  border: 1px solid gray;
}

.green-button {
  background-color: rgba(143, 196, 96, 1);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #9a9a9a;
}

.footer-button-text {
  font-size: 24px;
}

.footer-padding {
  padding-bottom: 70px;
}

.input-error {
  outline :1px solid #E26264;
  color: #E26264;
}

.input-warning {
  outline :1px solid #EE6A00;
  color: #EE6A00;  
}

.input-textbox {
  height: 79px;
  text-align: right;
  padding: 32px;
}

.input-textarea {
  padding: 16px 24px;
}

.large-input {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  padding-right: 20px;
  text-align: right;
  font-size: 48px;
  border: 2.5px solid #9a9a9a;
}

.text-left {
  text-align: left;
}

.button-text {
  padding-left: 25px;
  font-size: 24px;
  text-align: left;
}

.text-wrap {
  word-break: break-word;
  white-space: pre-wrap;
}

.progress-raijyo {
  background-color: gray;
}

.progress-yotei {
  background-color: black;
}

.progress-completed {
  background-color: rgba(143, 196, 96, 1);
}

.progress-td {
  width: 40px;
  text-align: center;
}
