.basic-green {
  background-color: #00ada4;
  color: white;
}
.basic-grey {
  background-color: #9a9a9a;
  color: white;
}

.man-blue{
  background-color: #A0DDEA;
  color:black;
}

.woman-pink{
  background-color: #FFBEB7;
  color:black;
}

.background-grey {
  background-color: #f2f2f2;
}

.alert-orange{
  color: #FF9100;
}

.reverse-green-button {
	background-color: white;
  color: #00ada4;
}

.selected-button{
  background-color: #D5F0DF;
  color: #00ada4;
  border: 1px solid #00ada4;
}

.label-radius{
  border-radius: 3%/10%;
}

.hr {
  width: 98%;
}

.border {
  border: 1px solid gray;
}


.green-button {
  background-color: rgba(143, 196, 96, 1);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #9a9a9a;
}

.footer-button-text {
  font-size: 24px;
}

.footer-padding {
  padding-bottom: 70px;
}

.large-input {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  padding-right: 20px;
  text-align: right;
  font-size: 48px;
  border: 2.5px solid #9a9a9a;
}

.text-left {
  text-align: left;
}

.button-text {
  padding-left: 25px;
  font-size: 24px;
  text-align: left;
}

.text-wrap {
  word-break: break-word;
  white-space: normal;
}

.progress-raijyo {
  background-color: gray;
}

.progress-yotei {
  background-color: black;
}

.progress-completed {
  background-color: rgba(143, 196, 96, 1);
}

.progress-td {
  width: 40px;
  text-align: center;
}
