/* Mantineのテーマ用のCSS */
/* テーマファイルでcommon.module.cssをimportすると画面上でCSSの適用順が変わって画面が崩れるため切り出し */

/* SwitchをOFFにした時に適用するCSS */
.switch-off > label > div:first-of-type {
  background-color: #cecece;
  color: #6a6a6a;
}

/* Switchの文字位置を調整するCSS */
.switch-padding > label > div:first-of-type > span {
  padding-top: 3px;
}

/* Buttonがdisableの時に適用するCSS */
.button-disabled {
  background-color: #cecece !important;
  color: #9a9a9a !important;
  border: none !important;
}

/* LoadingOverlayのデフォルトスタイル */
.loading-large > span::after {
  width: 200px;
  height: 200px;
  border-width: 20px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
